<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workerassistant">

    <!-- 解决键盘上移 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/reindeer_128px_1207022_easyicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|stateHidden">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CityPick.CityPickActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".WorkType.WorkTypeActivity" />
        <activity android:name=".Page.FourthPage.EditSelfInfoActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>